<div class="container">

  <body>
    <hr>
    <h1 class="text-center titulo">Datos del estudiante</h1>
    <hr>
    <div>
      <div class="row">
        <div class="col"></div>
        <div class="col-3">
          <label id="D" for="Nombr:">Nombre del estudiante:</label>
        </div>
        <div id="Tex" class="col-3">{{NombrePersona}} {{ApellidoPersona}}</div>
        <div class="col"></div>
      </div><br>
      <div class="row">
        <div class="col"></div>
        <div class="col-3">
          <label id="D" for="Nombr:">Número de carnet:</label>
        </div>
        <div id="Tex" class="col-3">{{Carnet}}</div>
        <div class="col"></div>
      </div><br>
      <div class="row">
        <div class="col"></div>
        <div class="col-3">
          <label id="D" for="Nombr:">Docente:</label>
        </div>
        <div id="Tex" class="col-3">{{Docente}}</div>
        <div class="col"></div>
      </div><br>
      <div class="row">
        <div class="col"></div>
        <div class="col-3">
          <label id="D" for="Nombr:">Parcial:</label>
        </div>
        <div id="Tex" class="col-3">{{Parcial}}</div>
        <div class="col"></div>
      </div><br>
      <div class="row">
        <div class="col"></div>
        <div id="Tex" class="col-3">{{Fecha}}</div>
        <div class="col"></div>
      </div><br>





    </div>
  <body>
<div>
